.flash-card {
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
  
  }
  
  .flash-card p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
  }
  
  .flash-card ion-icon {
    width: 20px;
    height: 23px;
    cursor: pointer;
  }

  
  .flash-card-question {
    min-height: 131px;
    width: 299px;
    background: #FFFFD4;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
  }
  
  .flash-card-question p {
    text-align: center;
    word-break: break-word;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    position: absolute;
    top: 0;
    left: 0;
    margin: 18px 15px 0 15px;
  } 
  
  .flash-card-question img {
    width: 30px;
    height: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 15px 6px 0;
    cursor: pointer;
  }
    
  .flash-card-answer {
    min-height: 131px;
    width: 299px;
    background: #FFFFD4;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .5s;
  }
  
 
  
  
  .flash-card-answer p {
    text-align: center;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin: 18px 12px 12px 6px;
    word-break: break-word;
  }
  
  .buttons-answer {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
    
  }
  
  .buttons-answer>.nao-lembrei {
    text-align: center;
    width: 85.17px;
    height: 37.17px;
    background: #FF3030;
    border-radius: 5px;
    border: none;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
  
  }
  
  .buttons-answer>.quase-lembrei {
    text-align: center;
    width: 85.17px;
    height: 37.17px;
    background: #FF922E;
    border-radius: 5px;
    border: none;
    margin: 0 7.74px 0 7.74px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
  }
  
  .buttons-answer>.zap {
    text-align: center;
    width: 85.17px;
    height: 37.17px;
    background: #2FBE34;
    border-radius: 5px;
    border: none;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
  }
  
  .flash-card-answered {
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
  }
  
  .flash-card-answered p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
  }
  
  .flash-card-answered-answered ion-icon {
    width: 23px;
    height: 23px;
    cursor: pointer;
  }
  
  .flash-card-answered.nao-lembrei p {
    text-decoration-line: line-through;
    color: #FF3030;
  }
  
  .flash-card-answered.nao-lembrei ion-icon {
    color: #FF3030;
    width: 23px;
    height: 23px;
  }
  
  .flash-card-answered.quase-lembrei p {
    text-decoration-line: line-through;
    color: #FF922E;
  }
  
  .flash-card-answered.quase-lembrei ion-icon {
    color: #FF922E;
    width: 23px;
    height: 23px;
  }
  
  .flash-card-answered.zap p {
    text-decoration-line: line-through;
    color: #2FBE34;
  }
  
  .flash-card-answered.zap ion-icon {
    color: #2FBE34;
    width: 23px;
    height: 23px;
  }