header {
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }
  
  header img {
    width: 52px;
    height: 60px;
    margin-right: 22px;
  }
  
  header h1 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
  }